<div class="h" style="display: flex; justify-content: center; ">
 
  <ul class="nav justify-content-end ">
    <li class="nav-item" >
      <a class="nav-link active a" aria-current="page" routerLink="user/logOut">התנתק</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active a" aria-current="page" routerLink="course/addCourse">הוספת קורס</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active a" aria-current="page" routerLink="course/allCourses">כל הקורסים </a>
    </li>
    <li class="nav-item" >
      <a class="nav-link active a" aria-current="page" routerLink="user/register"> הרשמה</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link active a" aria-current="page" routerLink="user/login">התחברות</a>
    </li>
  </ul> 
</div>
 <!-- <ul class="header">
   
  <mat-chip-listbox aria-label="Fish selection">  -->
  <!-- <mat-chip-option routerLink="user/logOut">התנתק</mat-chip-option> -->
  <!-- <mat-chip-option routerLink="course/addCourse">הוספת קורס</mat-chip-option> -->
  <!-- <mat-chip-option routerLink="course/allCourses">כל הקורסים </mat-chip-option> -->
  <!-- <mat-chip-option routerLink="user/register/lecturer">הרשמת מרצים</mat-chip-option>   -->
  <!-- <mat-chip-option routerLink="user/register"> הרשמה</mat-chip-option> -->
  <!-- <mat-chip-option routerLink="user/login">התחברות</mat-chip-option> -->

  <!-- </mat-chip-listbox>
</ul>
   -->
<router-outlet></router-outlet>