<div class="h" style="display: flex; justify-content: center; ">
 
  <ul class="nav justify-content-end ">
    <li class="nav-item" >
      <a class="nav-link active a" aria-current="page" routerLink="user/logOut">התנתק</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active a" aria-current="page" routerLink="course/addCourse">הוספת קורס</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active a" aria-current="page" routerLink="course/allCourses">כל הקורסים </a>
    </li>
    <li class="nav-item" >
      <a class="nav-link active a" aria-current="page" routerLink="user/register"> הרשמה</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link active a" aria-current="page" routerLink="user/login">התחברות</a>
    </li>
  </ul> 
</div>
<router-outlet></router-outlet>