<div class="h">
  <ul class="header">
    <li class="li">
      <a routerLink="/register">הרשמה</a>
    </li>
    <li class="li">
      <a routerLink="/login">התחברות</a>
    </li>
    <li class="li">
      <a routerLink="/addCourse">הוספת קורס</a>
    </li>
    <li class="li">
      <a routerLink="/allCourses">כל הקורסים </a>
    </li>
    <li class="li">
      <a routerLink="/register/lecturer">כניסת מרצים</a>
    </li>
    <li class="li">
      <a routerLink="/logOut">התנתק</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>