#img {
  background-image: url("https://cdn.leonardo.ai/users/4ab741e1-5e4b-4948-90ff-ee2315e7f924/generations/af50d1df-3ff5-42ab-99e0-ec98d123013d/Default_A_beautiful_background_image_for_a_website_of_courses_2.jpg");
  direction: rtl;
  background-size: 100%;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  font-style: italic;
}