
<div class="form">

    <form *ngIf="!u1?.code"> [formGroup]="registerForm" class="row g-2">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" formControlName="userName"  placeholder="שם משתמש">
            <label for="floatingInput">שם משתמש</label>
            <ng-container *ngIf="registerForm.controls['userName'].errors&& !registerForm.controls['userName'].pristine">
                <div class="alert alert-danger"> not name valid</div>
            </ng-container>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="סיסמא" formControlName="password">
            <label for="floatingPassword">סיסמא</label>
            <ng-container *ngIf="registerForm.controls['password'].errors&& !registerForm.controls['password'].pristine">
                <div class="alert alert-danger">הסיסמא חייבת להכיל לפחות אות קטנה אחת, אות גדולה אחת ומספר אחד. 6-12
                    תווים</div>
            </ng-container>
          </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" formControlName="address"  placeholder="כתובת">
            <label for="floatingInput">כתובת</label>
            <ng-container *ngIf="registerForm.controls['address'].errors&& !registerForm.controls['address'].pristine">
                <div class="alert alert-danger"> כתובת לא חוקית לפחות 3 תווים</div>
            </ng-container>
          </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" formControlName="email"  placeholder="Email@gmail.com">
            <label for="floatingInput">Email@gmail.com</label>
            <ng-container *ngIf="registerForm.controls['email'].errors&& !registerForm.controls['email'].pristine">
                <div class="alert alert-danger"> כתובת מייל לא חוקית</div>
            </ng-container>
          </div>
        <button mat-fab extended color="primary" class="save" class="col-2" [disabled]="!registerForm.valid" (click)="register()">הרשמה</button>
    </form>
    <ng-container *ngIf="u1?.code">
        אתה מחובר
    </ng-container>

</div>
