<div *ngIf="course">
    name:{{course.name}}
    <br />
    <img src="{{ course.image }}" [ngStyle]="{ 'width.px': 350, 'height.rem': 16 }" />
    <br />
    <div *ngIf="category">
        category:{{category.name}}
        <!-- <img src="{{ category.iconRouting }}" [ngStyle]="{ 'width.px': 30, 'height.px': 30 }" /> -->
    </div>
    countLesson:{{course.countLesson}}
    <br />
    <label>wayLearning</label>
    <div [ngSwitch]="course.wayLearning">
        <p *ngSwitchCase="1">frontal </p>
        <p *ngSwitchCase="2">ZOOM</p>
    </div>
    <br />
    <label>sillibos</label>
    <ul *ngFor="let i of course.sillibos">
        <li>{{i}}</li>
    </ul>
    <ng-container *ngIf="lecturer">
        <label>lecturer:</label>
        <div>
            <label>name:</label>
            {{lecturer.name}}
            <label>email:</label>
            {{lecturer.email}}
        </div>
    </ng-container>
    <ng-container *ngIf="lecturer?.code==userId">
        <button class="btn btn-outline-secondary" routerLink="/addCourse/{{course.code}}">edit course</button>
    </ng-container>
</div>