<div *ngIf="course" style="direction: rtl;">
  <h1>{{course.name}}</h1>
    <br />
    <img src="{{ course.image }}" [ngStyle]="{ 'width.px': 350, 'height.rem': 16 }" />
    <br />
    <div *ngIf="category">
        קטגוריה:{{category.name}}
        <!-- <img src="{{ category.iconRouting }}" [ngStyle]="{ 'width.px': 30, 'height.px': 30 }" /> -->
    </div>
    מס' שיעורים:{{course.countLesson}}
    <br />
    <label>דרך לימוד:</label>
    <div [ngSwitch]="course.wayLearning">
        <p *ngSwitchCase="1">frontal </p>
        <p *ngSwitchCase="2">ZOOM</p>
    </div>
    <br />
    <label>סיליבוס</label>
    <ul *ngFor="let i of course.sillibos">
        <li>{{i}}</li>
    </ul>
    <ng-container *ngIf="lecturer">
        <label>מרצה:</label>
        <div>
            <label>שם:</label>
            {{lecturer.name}}
            <label>email:</label>
            {{lecturer.email}}
        </div>
    </ng-container>
    <ng-container *ngIf="lecturer?.code==userId">
        <button mat-fab extended color="primary" routerLink="/addCourse/{{course.code}}">עריכה</button>
    </ng-container>
</div>