<div *ngIf="user" style="display: flex;justify-content: space-evenly;">
    <form [formGroup]="courseForm" >
        <ng-container *ngIf="courseForm.get('courseName').invalid && courseForm.get('courseName').pristine"
            class="alert alert-danger">
        
        </ng-container>
        <div class="form-floating mb-3">
            <input type="text" placeholder="הכנס שם קורס" id="floatingInput" class="form-control" style="width: 18rem;"
                formControlName="courseName">
            <label for="floatingInput">שם קורס</label>
            <div *ngIf="courseForm.controls['courseName'].errors&& courseForm.get('courseName').pristine"
                style="width: 18rem;" class="alert alert-danger">
                שם הקורס אינו תקין
            </div>
        </div>
        <div class="form-group">
            <label for="floatingInput">קטגוריה: </label>
            <select class="form-select" id="floatingInput" aria-label="Default select example" id="route"
                formControlName="category" style="width: 18rem;">
                <option *ngFor="let r of categories" [value]="r.code"> {{r.name}}</option>
            </select>
        </div>
        <br/>
        <div class="form-floating mb-3">
            <input type="number" id="floatinNumber" placeholder="הכנס כמות שיעורים" class="form-control"
                style="width: 18rem;" formControlName="countLesson">
            <label for="floatinNumber">כמות שיעורים</label>
            <ng-container
                *ngIf="courseForm.controls['countLesson'].errors&& !courseForm.controls['countLesson'].pristine">
                <div class="alert alert-danger"> countLesson invalid</div>
            </ng-container>
        </div>
        <div class="form-floating mb-3">

            <input type="text" id="floatingInput" placeholder="הכנס URL של תמונה" class="form-control"
                style="width: 18rem;" formControlName="image">
            <label for="floatingInput">קישור לתמונה</label>
            <ng-container *ngIf="courseForm.controls['image'].errors&& !courseForm.controls['image'].pristine">
                <div class="alert alert-danger"> not image valid</div>
            </ng-container>
        </div>
        <div class="form-control" style="width: 18rem;">
            <label for="floatingInput">דרך לימוד:</label>
            <br>
            <input type="radio" id="floatingInput" name="wayLearning" formControlName="wayLearning" value="1" />frontal
            <br>
            <input type="radio" id="floatingInput" name="wayLearning" formControlName="wayLearning" value="2" />ZOOM
            <br>
            <ng-container
                *ngIf="courseForm.controls['wayLearning'].errors&& !courseForm.controls['wayLearning'].pristine">
                <div class="alert alert-danger"> wayLearning invalid</div>
            </ng-container>
        </div>
        <div formArrayName="sillibos" class="card" style="width: 18rem;">
            <div *ngFor="let silliboIndex of controls; let i = index">
                <input [formControl]="getSilliboControl(i)" type="text" placeholder="{{ i + 1 }}"
                    (input)="onSilliboChange(i, $event)">
            </div>
        </div>
        <div class="form-floating mb-3">

            <input type="date" id="floatingInput" placeholder="01/01/2025" class="form-control" formControlName="date"
                style="width: 18rem;">
            <label for="floatingInput">תאריך פתיחת קורס:</label>
            <ng-container *ngIf="courseForm.controls['date'].errors&& !courseForm.controls['date'].pristine">
                <div class="alert alert-danger"> הסיסמא חייבת להכיל לפחות אות קטנה אחת, אות גדולה אחת ומספר אחד. 6-12
                    תווים</div>
            </ng-container>
        </div>
        <button mat-fab extended color="primary" class="save" (click)="cancle()">בטל</button>
        <button mat-fab extended color="primary" *ngIf="!new" class="save" (click)="deleteCourse()">מחיקת קורס</button>
        <button mat-fab extended color="primary" class="save" [disabled]="!courseForm.valid"
            (click)="saveOrUpdateCourse()">{{ new ? 'הוספה' : 'עדכן'}}</button>
    </form>
</div>
<ng-container *ngIf="!user">
    <h1> אינך ברמת מרצה :(</h1>
</ng-container>