<div class="h ">
    <div class="header">
        <div class="form-floating mb-3">
            <input type="text" id="floatingInput" [(ngModel)]="courseName" class="form-control"
                (input)="getCoursesByName()" />
            <label for="floatingInput"> 🔍 הכנס שם לחיפוש</label>
        </div>
        <div>
            <select class="form-select" aria-label="Default select example" (change)="changeValue2($event)">
                <option [value]="0"> קטגוריה</option>
                <option *ngFor="let r of categories" [value]="r.code"> {{r.name}}</option>
            </select>
        </div>
        <div style="display: flex; flex-direction: column-reverse;">
            <!-- <label>דרך לימוד:</label> -->
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio1">frontal</label>
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"
                    (click)="changeValue(1)">
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio2">ZOOM</label>
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"
                    (click)="changeValue(2)">
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio2">הכל</label>
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option3"
                    (click)="changeValue(3)">
            </div>
        </div>
    </div>
</div>
<div class="courses">
    <div *ngFor=" let i of courses" [ngClass]="{'class-if-in-next-week':isCourseInNextWeek(i)}">
        <div class="card" style="width: 18rem;">

            <img src="{{ i.image }}" class="card-img-top" style=" height: 250px;" />

            <div class="card-body">
                <h1 class="card-title">{{i.name}}</h1>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <button mat-fab extended color="primary" (click)="showDetails2(i)">show Details</button>
            </div>
        </div>
    </div>
</div>
<br>