/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
.form{
    margin: 50px 500px;
}
.header{
    display: flex;
    list-style-type: none;
    // align-items: flex-start;
    flex-direction: row-reverse;
}
.h{
    
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overscroll-behavior: contain auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.nextWeek{
background-color: black;
}
.list-group-item{
    margin-right: 1px;
}